#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         {{syslogsrv}} local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    tcp
    log                     global
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout queue           45s
    timeout connect         5s
    timeout client          1m
    timeout server          1m
    timeout check           10s
    maxconn                 3000

listen mariadb-galera-cluster 0.0.0.0:3306
    mode tcp
    balance source
    server sqlnode01 172.16.10.81:3306 check
    server sqlnode02 172.16.10.82:3306 check

listen kibana-cluster 0.0.0.0:5601
    mode tcp
    balance source
    server kibana01 172.16.10.81:5601 check
    server kibana02 172.16.10.82:5601 check

listen elasticsearch-cluster 0.0.0.0:9200
    mode tcp
    balance source
    server es01 172.16.10.81:9200 check
    server es02 172.16.10.82:9200 check

listen haproxy-monitoring *:3307
    mode http
    stats enable
    stats show-legends
    stats refresh                       15s 
    stats uri                           /
    stats realm                         Haproxy\ Statistics
    stats auth                          {{adminuser}}:{{adminpass}}
    stats admin                         if TRUE
